<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <PageTitle>Not found - EternalX</PageTitle>
            <p class="hint center">Nothing here.</p>
        </LayoutView>
    </NotFound>
</Router>
